.RecastApp {
  z-index: 92147483647;
}

.RecastApp *,
.RecastApp *:after,
.RecastApp *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  border: none;
  outline: none;
  font-family: 'Noto Sans', 'Taviraj', Helvetica, sans-serif;
}

.RecastApp a {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.RecastApp img,
.RecastApp svg {
  max-width: 100%;
  display: block;
}
